/* Global styles */

@font-face {
  font-family: 'turtles';
  src: url(/fonts/Turtles.otf);
}

@font-face {
  font-family: 'halfshell';
  src: url(/fonts/NinjaTurtles-AArm.otf);
}
body {
  margin: auto;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  background-color: #041b0d;
  max-width: 1500px;
  min-height: 100vh;
  animation-name: smooth;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

a {
  text-decoration: none;
  color: white;
  text-transform:uppercase;
  font-size: 1.2rem;
}

img {
  width: 100%;
}

main {
  background-image: linear-gradient(0deg, rgba(31, 99, 14, 0.98), rgba(31, 99, 14, 0.98)), url(/images/wall-2715701_640.jpg);
  padding-bottom: 20px;
  min-height: 100%;
  min-height: calc(100vh - 70px);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  text-shadow: 0px 5px 10px rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 30px 0px 0px 0px;
}

/* Animations - Global */

@keyframes smooth {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #2b6406;
  border: 2px solid #76df31;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #43960c;
}

/* header */ 

header {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-items: center;
  max-height: 464px;

}

.logo {
  display: flex;
  margin: auto;
  justify-self: center;
  padding-top: 50px;
  max-width: 350px;
}

.background-top {
  display: none;
  width: 100%;
  min-height: 500px;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  background: radial-gradient(rgba(181, 182, 103, 0.9), rgba(3, 36, 22, 0.9) ), url(/images/test_top.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* navigation */


.nav_top_front {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 80px;
  background-color: #09301f;
  z-index: 1;
  margin: auto;
  box-shadow: 0 5px 35px rgb(0 0 0);
}

.nav_top_front ul {
  padding: 0px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}




 li {
  display: block;
  position: relative;
  margin: 0 10px;
  padding: 10px 30px 10px 30px;
}

 li:after {
  content: "";
  position: absolute;
  background-color: #76df31;
  height: 5px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
  transition: 0.3s;
  
}

.home_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home_header p {
  font-family: "turtles";
  margin-left: 10px;
}

.fa-user-ninja {
  color:#76df31;
  font-size: 28px;
  margin-left: 24px;
}



.active_site {
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  border-bottom: solid 5px #76df31;
  padding-bottom: 6px;
}

.hamburger {
  display: block;
  margin: 0 20px 0 20px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #76df31;
}

.nav-menu {
  position: fixed;
  padding-top: 50px;
  right: -165%;
  top: 55px;
  gap: 0;
  width: 300px;
  height: 100%;
  text-align: center;
}

.nav-menu.active {
  right: 0;
  display: block;
  background-color: #09301f;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.nav-items {
  margin: 50px 0px;
}
.nav-links {
  color: rgb(19,38,38);
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
}

/* home page */

.background-front {
  display: block;
  width: 100%;
  min-height: 600px;
  background-image: linear-gradient(0deg, rgba(255, 230, 0, 0.1), rgba(255, 230, 0, 0.1)), url(/images/leonardo_front.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}

.text-button-front {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  max-width: 500px;
  position: relative;
  padding-top: 180px;
  margin: auto;
  left: auto;
  top: auto;
}



.front_text_first {
  font-size: 1.2rem;
  margin: 0 0 10px 0;
  padding: 0;
  color: white;
}

.front_text_second {
  font-size: 21px;
  margin: 0 10px 0 10px;
  padding: 5px;
  text-transform: uppercase;
  color: white;
  background-color: red;
  border: solid 2px black;
  font-family: "halfshell";
}

.front_text_third {
  font-family: "turtles";
  font-size: 80px;
  margin-top: 10px;
  color: #53CC00;
  padding: 0;
  text-shadow: 0px 5px 10px rgb(0, 0, 0);
  position: relative;
  top: -32px;
  -webkit-text-stroke: 2px black;
}

.button_front {
  max-width: 200px;
  padding: 10px 40px 10px 40px;
  border: 2px solid #071A30;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: auto;
  background-color: red;
  border-radius: 10px;
  font-family: "turtles";
  text-shadow: 1px 1px 20px rgb(3, 65, 22);
}


.button_front:hover {
  box-shadow: 0px 1px 10px rgb(255, 255, 255);
}


.latest_posts {
  text-align: center;
  background-color: #09301f;
  width: 100%;
  margin: auto;
  padding: 1px 0 0 0;
}

.latest_posts p {
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: auto;
  padding: 15px 0 15px 0;
  z-index: 7;
}


/* home page carousel */

.carousel {
 display: flex;
  flex-direction: row;
  margin: auto;
}

.button_carousel {
  background-color: #53CC00;
  padding: 10px;
  max-width: 150px;
  margin: auto;
  border-radius: 10px;
  border: solid 2px black;
  font-family: "turtles";
  font-size: 1.2rem;
  color: black;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.button_carousel:hover {
  box-shadow: 0px 1px 10px rgb(255, 255, 255);
}


/* head */

.eyes {
  position: absolute;
  top: 350px;
  transform: translateY(-50%);
  text-align: center;
}

.eye_left {
  width: 24vw;
  height: 12vw;
  max-width: 300px;
  max-height: 145px;
  background-color: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 4.5vw solid blue;
  transform: rotate(2deg);
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
}

.eye_right {
  width: 24vw;
  height: 12vw;
  max-width: 300px;
  max-height: 145px;
  background-color: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 4.5vw solid blue;
  transform: rotate(-2deg);
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
}

.raphael_eye_left {
  width: 24vw;
  height: 12vw;
  max-width: 300px;
  max-height: 145px;
  background-color: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 4.5vw solid red;
  transform: rotate(2deg);
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
}

.raphael_eye_right {
  width: 24vw;
  height: 12vw;
  max-width: 300px;
  max-height: 145px;
  background-color: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 4.5vw solid red;
  transform: rotate(-2deg);
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
}

.michelangelo_eye_left {
  width: 24vw;
  height: 12vw;
  max-width: 300px;
  max-height: 145px;
  background-color: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 4.5vw solid orange;
  transform: rotate(2deg);
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
}

.michelangelo_eye_right {
  width: 24vw;
  height: 12vw;
  max-width: 300px;
  max-height: 145px;
  background-color: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 4.5vw solid orange;
  transform: rotate(-2deg);
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
}

.donatello_eye_left {
  width: 24vw;
  height: 12vw;
  max-width: 300px;
  max-height: 145px;
  background-color: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 4.5vw solid purple;
  transform: rotate(2deg);
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
}

.donatello_eye_right {
  width: 24vw;
  height: 12vw;
  max-width: 300px;
  max-height: 145px;
  background-color: white;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 4.5vw solid purple;
  transform: rotate(-2deg);
  box-shadow: inset 5px 5px 5px rgb(0, 0, 0);
}

.eyeball {
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border:33px solid rgb(54, 14, 14);

}

.head {
  width: 80%;
  height: 900px;
  background-color: #2b6406;
  display: inline-block;
  margin: 40px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  z-index: 0;
  box-shadow: inset 0px 20px 80px rgb(0, 0, 0);
  border: solid black 4px;
}

.bandana {
  height: 200px;
  background-color: blue;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 200px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  border: solid black 2px;
}

.raphael_bandana {
  height: 200px;
  background-color: red;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 200px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  border: solid black 2px;
}

.michelangelo_bandana {
  height: 200px;
  background-color: orange;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 200px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  border: solid black 2px;
}

.donatello_bandana {
  height: 200px;
  background-color: purple;
  width: 100%;
  position: relative;
  overflow: hidden;
  top: 200px;
  box-shadow: 0px 5px 10px rgb(0, 0, 0);
  border: solid black 2px;
}

/* Blog page */

.background-blog {
  padding-top: 100px;

}

.blog  {
  display: flex;
  flex-direction: column;
  margin: 15px;
}


.search {
  display: flex;
  margin: auto;
  height: 20px;
  width: 250px;
  opacity: 0.8;
  border: solid 2px black;
  padding: 15px;
}

input::placeholder {
  font-size: 1rem;

}



.blog-container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 50px auto 50px auto;
  background-color: #09301f;
  text-align: center;
  padding: 20px;
  color: white;
  border: solid 2px black;
  box-shadow: 0 5px 15px rgb(0 0 0);
  transition: 0.2s;
  border-radius: 10px;
}



.button_blog {
  background-color: #53CC00;
  padding: 10px;
  max-width: 150px;
  border-radius: 10px;
  border: solid 2px black;
  font-family: "turtles";
  font-size: 1.2rem;
  color: black;
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  margin: auto;
}

.button_blog:hover {
  box-shadow: 0 0px 10px rgb(255, 255, 255);
}

.button_view_more {
  display: flex;
  margin: 0 auto 40px auto;
  font-family: "turtles";
  text-transform: uppercase;
  padding: 15px;
  background-color:red;
  color: white;
  border: solid 1px black;
  cursor: pointer;
  box-shadow: 0 5px 35px rgb(0 0 0);
  text-shadow: 10px 0px 15px rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 1.5rem;
}

.button_view_more:hover {
  box-shadow: 0 0px 10px rgb(255, 255, 255);
}


/* Spesific blogpost */

.details {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.details-container {
  display: flex;
  max-width: 700px;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  color: white;
}

.details-container button {
  display: block;
  font-family: "turtles";
  max-width: 150px;
  margin: 20px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  background-color: red;
  color: white;
  border: solid 1px black;
  cursor: pointer;
  box-shadow: 0 5px 35px rgb(0 0 0);
  text-shadow: 10px 0px 15px rgb(0 0 0);
  border-radius: 10px;
  font-size: 1rem;
}

.details-container h1 {
  padding: 0;
}

.details-container img {
  cursor: zoom-in;
}

.author {
  color: white;
  padding: 0px 0px 0px 20px;
}

.modal {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 2;
  overflow: auto;
  flex-direction: row;
}

.modal_hidden {
  display: none;
}


.modalContent {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.modalImg {
  width: 75%;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* contact page */

.contact-us-content {
  justify-content: center;
  max-width: 700px;
  margin: auto;
  display: block;

}

.contact-us img {
  display: none;
}


input,
select,
textarea {
  display: flex;
  position: relative;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  margin: 20px auto 10px auto;
  padding: 20px;
  box-sizing: border-box;
  width: 80%;
}

textarea {
  min-height: 400px;
}


.formError {
  display: none;
  color:red;
  font-size: 1rem;
  text-align: left;
  margin-left: 15px;
}

.success {
  text-align: center;
  font-family: "turtles";
  color: rgb(255, 0, 0);
  font-size: 2.5rem;
  text-shadow: 0px 0px 5px rgb(0 0 0);
  display: none;
  padding: 15px;
  -webkit-text-stroke: 0.5px black;
}

#message {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}

.button_contact {
  display: flex;
  justify-content: center;
  background-color: #53CC00;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: solid 2px black;
  font-family: "turtles";
  font-size: 1.2rem;
  color: black;
  text-shadow: 0px 0px 5px rgb(255 255 255);
  margin: 80px auto 0 auto;
}


/* footer */

footer {

  width: 100%;
  text-align: center;
  color: white;
  padding: 20px 0px 20px 0px;
  background-color: #09301f;
  border-top: solid black 1px;
  font-size: 1rem;
}


/* slider */

.company {
  position: relative;
  overflow: hidden;
  padding: 20px;
  margin: 20px 0px 20px 0px;
}



.company-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 20px 0 0;
}

.company-container::-webkit-scrollbar {
  display: none;
}

.company-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  margin: 0 20px 0 20px;
  width: 78%;
  padding: 20px;
  text-align: center;
  background-color: #09301f;
  border: solid 2px black;
  border-radius: 15px;
}

.company-card p {
  color: white;
  font-size: 1.5rem;
}

.company-card img {
  border-radius: 15px;
}


.company-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pre-btn,
.nxt-btn {
  border: none;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 0;
  cursor: pointer;
  padding: 0px 20px 0px 20px;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}


.pre-btn img,
.nxt-btn img {
  opacity: 0.7;
  width: 15px;
}


.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}



@media (min-width: 1800px) {

  .eye_left {
    border: 81px solid blue;
  }
  .eye_right {
    border: 81px solid blue;
  }
  .raphael_eye_left {
    border: 81px solid red;
  }

  .raphael_eye_right {
    border: 81px solid red;
  }
  .michelangelo_eye_left {
    border: 81px solid orange;
  }

  .michelangelo_eye_right {
    border: 81px solid orange;
  }
  .donatello_eye_left {
    border: 81px solid purple;
  }

  .donatello_eye_right {
    border: 81px solid purple;
  }
}



@media (min-width: 850px) {

.background-top {
  display: flex;
}

.bar {
  display: none;
}

.home_header {
  display: none;
}

.nav_top_front {
  justify-content: center;
  position: relative;
  background-color: rgba(7, 48, 21, 0.8);
  border: solid black 1px;
}

.nav-menu {
  position: relative;
  flex-direction: row;
  right: 0;
  top: 0;
}

li {
  display: inline-block;
}

.text-button-front {
  right: 20%;
  top: 100px;
}

.front_text_second {
  font-size: 1.8rem;
  margin: 0;
}

.front_text_third {
  font-size:7rem;
  margin: 0;
}


.background-front {
  min-height: 650px;
  margin-top: 0;
}

.latest_posts p {
  font-size: 2.2rem;
}

.button_front {
  margin: 20px auto 40px auto;
}


.company-card {
  width: 400px;
}

ul {
  display: flex;
}

li:hover:after {
  width: 45%;
}

input,
select,
textarea {
  width: 700px;
}
}

/* Media for home-page text regarding really small screens */

@media (max-width: 374px) {
  .front_text_second {
    font-size: 5vw;
  }

  .front_text_third {
    font-size: 20vw;
  }
}